.category {
padding-top: -10px;

 display: flex;
 justify-content: center;

 flex-direction: column;
}

.category div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
}

.category h2 {
    padding-top: 64px;
}