.category {
    padding-top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-width: 280px;
    max-width: 90vw;

    margin: 0 auto;

}

.category div {
    display: flex;
    justify-content: flex;
    gap: 2px;

    max-width: 100%;
}

.category > h2 {
    padding-top: 64px;
    
}