.musics {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.musics iframe {
    width: 300px;
    height: 200px;

    border-radius: 10px;
    border: 3px solid #F4CD53;
    margin: 20px;
}

.musics h4 {
    margin-top: -10px;
}