.ArtistCard img {
    width: 150px;
    height: 150px;

    display: flex;
    flex-direction: flex;

    margin-inline: 3px;

    border-radius: 100%;
    border: 4px solid #F4CD53;

    transition-duration: 1s;
    
}

.ArtistCard img:hover {
    margin-top: -10px;

    transform: scale(1.2);
    transition-duration: 1s;
    box-shadow: 0 0 8px rgb(58, 58, 58);
    

}

.ArtistCard h4 {
    margin-top: 15px;
    
}
